In [2]:
import pandas as pd
import numpy as np
import nltk

from nltk import word_tokenize

In [4]:
df = pd.read_csv('./bbc_text_cls.csv')
df.head()

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business

In [5]:
idx = 0
word2idx = {}
tokenized_docs = []
for doc in df['text']:
    words = word_tokenize(doc.lower())
    doc_as_int = []
    for word in words:
        if word not in word2idx:
            word2idx[word] = idx
            idx += 1
        doc_as_int.append(word2idx[word])
    tokenized_docs.append(doc_as_int)

In [7]:
idx2word = {v:k for k, v in word2idx.items()}

In [11]:
N = len(df['text'])
V = len(word2idx)
tf = np.zeros((N, V))

In [12]:
for i, doc_as_int in enumerate(tokenized_docs):
    for j in doc_as_int:
        tf[i, j] += 1

In [13]:
document_freq = np.sum(tf > 0, axis=0)
idf = np.log(N / document_freq)

In [14]:
tf_idf = tf*idf

In [20]:
i = np.random.choice(N)
row = df.iloc[i]
print("Label:", row['labels'])
print("Text:", row['text'].split("\n", 1)[0])
print("Top 5 terms:")

scores = tf_idf[i]
indices = (-scores).argsort()

for j in indices[:5]:
    print(idx2word[j])

Label: tech
Text: IBM puts cash behind Linux push
Top 5 terms:
linux
ibm
workplace
software
programs